@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var currencies = ViewData["Currencies"] as List<SelectListItem>;
    var freelancers = ViewData["Freelancers"] as List<SelectListItem>;
    // var employerId = ViewData["EmployerId"] as int?;
}
@model ProjectAdvertisementEditDTO;
<form asp-controller="ProjectAdvertisement" asp-action="EditProjectAdvertisement" method="post">
    <div class="form-group">
        <div class="col-md-10">
            <input asp-for="Id" class="form-control" type="number" hidden />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input asp-for="EmployerId" class="form-control" type="number" hidden />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Price" class="form-control" type="number" min="1" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CurrencyId" class="col-md-2 control-label">Currency</label>
        <div class="col-md-10">
            <select asp-for="CurrencyId" asp-items="@currencies" class="form-select"></select>
            <span asp-validation-for="CurrencyId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ExpiredAt" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ExpiredAt" class="form-control" type="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="ExpiredAt" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="WorkplaceCount" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="WorkplaceCount" class="form-control" type="number" />
            <span asp-validation-for="WorkplaceCount" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="FreelancerId" class="col-md-2 control-label">Freelancer</label>
        <div class="col-md-10">
            <select asp-for="FreelancerId" asp-items="@freelancers" class="form-select"></select>
            <span asp-validation-for="FreelancerId" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-success my-2">Save</button>
</form>