<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <system.web>
  </system.web>
  <connectionStrings>
    <add name="sqlServer"
     providerName="System.Data.SqlClient"
     connectionString="Data Source=FENRIR-PC\\SQLEXPRESS;Initial Catalog=FreelanceFinder;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False" />
  </connectionStrings>
</configuration>
